@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6b6b77;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: rgb(223, 223, 233);
  background: -moz-linear-gradient(
    321deg,
    rgba(223, 223, 233, 1) 0%,
    rgba(241, 240, 245, 1) 100%
  );
  background: -webkit-linear-gradient(
    321deg,
    rgba(223, 223, 233, 1) 0%,
    rgba(241, 240, 245, 1) 100%
  );
  background: linear-gradient(
    321deg,
    rgba(223, 223, 233, 1) 0%,
    rgba(241, 240, 245, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dfdfe9",endColorstr="#f1f0f5",GradientType=1);
}

#root {
  min-height: 100vh;
  height: 100%;

  --main: #1e90ff;
  --secondary: #ffffff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

p {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 0.9rem;
  margin: 0 !important;
}

ul {
  list-style: none;
  padding-left: 0;
}

small {
  font-size: 0.8rem;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App {
  min-width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
}

.margin-content {
  min-width: 0;
  flex: 0 1 1200px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.sub-body {
  height: 100%;
  /* background-color: blue; */
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* switch css */
.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  /* margin-right: 0.5rem; */
  width: 46px;
  height: 26px;
  background-color: #c3c2d3;
  outline: 2px solid #ebeaf2;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
  box-shadow: 3px 3px 10px #dad9e9, -3px -3px 10px #ffffff;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #ebeaf2;

  border-radius: 11px;
  box-shadow: 0 2px 2px #878597;
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
  
}
.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}
.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}
.form-switch input {
  display: none;
}
.form-switch input:checked + i {
  background-color: #47db8a;
}
.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}

/* custom icons */
.letter-icon {
  font-size: 1.2rem;
  font-weight: 600;
}

/* text css*/
.type-stack {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-grow: 1;
}

.type-stack .div {
  flex-grow: 1;
}

.type .text .typed,
.type .text .error-typed,
.type .text p {
  min-height: 100%;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  font-weight: 400;
  /* word-spacing: 0.5rem; */
  text-align: left;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.type .text .untyped {
  opacity: 0.5;
  font-weight: 400;
  cursor: pointer;
}

.type .text .error-typed {
  color: rgb(255, 92, 92);
}

.type .text .caret,
.type .text .caret-blinking {
  margin: -10px;
  padding: 0;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 0px;
  color: #47db8a;
  white-space: normal;
}

.type .text .caret-blinking {
  animation: blink-caret 1s linear infinite;
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}

.type .details {
  display: flex;
  gap: 30px;
}

.type .details h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 800;
  /* width: 120px; */
  gap: 5px;
}

/* type css */
.type-field {
  height: 0px;
  width: 0px;
  opacity: 0;
}

.type-field:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

/* heder css */
.header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .logo .icon {
  height: 40px;
  width: 40px;
}

/* footer css */
.footer {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}

.footer .nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 1 500px;
}

.footer .nav .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.footer .nav .item small {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* criteria css */
.criteria {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
  flex-wrap: wrap;
}

.criteria .separator {
  width: 3px;
  border-radius: 5px;
  height: 25px;
  background-color: #6b6b77;
  opacity: 0.3;
  margin: 0 10px;
}

.criteria .form-switch {
  display: flex;
}

.criteria .item {
  padding: 10px 10px 10px 10px;
  height: 45px;
  border: none;
  border-radius: 50px;
  background: #ebeaf2;
  border-top: 1px solid #fff;
  box-shadow: 5px 5px 10px #dad9e9, -5px -5px 10px #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  gap: 10px;
  transition: 0.2s ease-out 0s;
}

.criteria .item span {
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
}

/* .criteria .item:hover {
  background: #dad9e9;
} */

.criteria .item:active {
  background: #dad9e9;
  /* transform: scale(0.9); */
  box-shadow: 1px 1px 10px #dad9e9, -1px -1px 10px #ffffff;
  transition: 0.2s ease-out 0s;
}

.criteria .item .off,
.criteria .item .on {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #a9a8b9;
  transition: 0.2s ease-out 0s;
}

.criteria .item .on {
  background: #ec59ff;
  border: 1px solid #ec59ff;
  transition: 0.2s ease-out 0s;
}

/* extra buttons css */
.extra-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  cursor: pointer;
}

.extra-buttons .key {
  background: #6b6b773a;
  border-radius: 5px;
  padding: 2px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid #6b6b773a;
  box-shadow: 1px 1px 5px #dad9e9, -1px -1px 5px #ffffff;
}

.extra-buttons .combination {
  display: flex;
  gap: 10px;
}

.extra-buttons .options {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* keyboard css */

.keyboard-panel {
  transition: 0.2s ease-out 0s;
}

.keyboard-panel-hide button {
  height: 0px !important;
  width: 0px !important;
  transition: 0.2s ease-out 0s;
  font-size: 0rem !important;
  opacity: 0; 
}

.keyboard {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.2s ease-out 0s;
}

.keyboard span {
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: 0.2s ease-out 0s;
}

.keyboard span .space {
  height: 45px;
  width: 325px;
}

.keyboard span .key {
  height: 45px;
  width: 45px;
}

.keyboard span .key,
.keyboard span .space {
  border: none;
  border-radius:15px;
  background: #ebeaf2;
  border-top: 1px solid #fff;
  box-shadow: 5px 5px 10px #dad9e9, -5px -5px 10px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0.5; */
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s ease-out 0s;
}

.keyboard span .key:hover,
.keyboard span .space:hover {
  background: #dad9e9;
  /* background: rgba(255, 255, 255, 0.3); */
}

.keyboard span .clicked,
.keyboard span .key:active,
.keyboard span .space:active {
  background: #dad9e9;
  box-shadow: 1px 1px 10px #dad9e9, -1px -1px 10px #ffffff;
  transform: scale(0.9);
  transition: 0.2s ease-out 0s;
  /* opacity: 1; */
  /* border-color: #ec59ff; */
  /* box-shadow: 0 0 15px #ec59ff; */
}
