@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #292c31;
}

#root {
  min-height: 100vh;
  height: 100%;

  --main: #1e90ff;
  --secondary: #ffffff;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #ec59ff;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

p {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 0.9rem;
  margin: 0 !important;
}

ul {
  list-style: none;
  padding-left: 0;
}

small {
  font-size: 0.8rem;
  color: #fff;
  opacity: 0.4;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App {
  min-width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
}

.margin-content {
  min-width: 0;
  flex: 0 1 1200px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.sub-body {
  height: 100%;
  /* background-color: blue; */
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* custom icons */
.letter-icon {
  font-size: 1.2rem;
  font-weight: 600;
}

/* text css*/
.type-stack {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-grow: 1;
}

.type-stack .div {
  flex-grow: 1;
}

.type .text .typed,
.type .text .error-typed,
.type .text p {
  min-height: 100%;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  font-weight: 400;
  /* word-spacing: 0.5rem; */
  text-align: left;
  letter-spacing: 0.05rem;
}

.type .text .untyped {
  opacity: 0.3;
  font-weight: 300;
}

.type .text .error-typed {
  color: rgb(211, 62, 62);
}

.type .text .caret {
  margin: -10px;
  padding: 0;
  font-size: 2.3rem;
  line-height: 0px;
  color: #ec59ff;
  white-space: normal;
}

.type .details {
  display: flex;
  gap: 30px;
}

.type .details h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* type css */
.type-field {
  height: 0px;
  width: 0px;
  opacity: 0;
}

.type-field:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

/* heder css */
.header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .logo .icon {
  height: 40px;
  width: 40px;
}

/* footer css */
.footer {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.footer .nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 1 600px;
}

.footer .nav .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* criteria css */
.criteria {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
  flex-wrap: wrap;
}

.criteria .separator {
  width: 3px;
  border-radius: 5px;
  height: 25px;
  background-color: #fff;
  opacity: 0.3;
  margin: 0 10px;
}

.criteria .item {
  padding: 15px;
  height: 45px;
  border: none;
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  cursor: pointer;
  transition: 0.2s ease-out 0s;
}

.criteria .item:active {
  transform: scale(0.9);
  transition: 0.2s ease-out 0s;
}

.criteria .item .off,
.criteria .item .on {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: 0.2s ease-out 0s;
}

.criteria .item .on {
  background: #ec59ff;
  border: 1px solid #ec59ff;
  transition: 0.2s ease-out 0s;
}

/* extra buttons css */
.extra-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
}

.extra-buttons .key {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 2px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra-buttons .combination {
  display: flex;
  gap: 10px;
}

.extra-buttons .options {
  display: flex;
  gap: 10px;
}

/* keyboard css */

.keyboard {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.keyboard span {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.keyboard span .space {
  height: 45px;
  width: 325px;
}

.keyboard span .key {
  height: 45px;
  width: 45px;
}

.keyboard span .key,
.keyboard span .space {
  background: transparent;
  border-radius: 10px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s ease-out 0s;
}

.keyboard span .key:hover,
.keyboard span .space:hover {
  background: rgba(255, 255, 255, 0.3);
}

.keyboard span .clicked {
  transform: scale(0.9);
  transition: 0.2s ease-out 0s;
  opacity: 1;
  border-color: #ec59ff;
  box-shadow: 0 0 15px #ec59ff;
}
